/* note: all css variables are declared in the index.css file */

/* Genetal Elements */
h1, h2, h3, h4, h5 {
  margin: 0.2em 0.4em;
  font-weight: 200;
  color: var(--primer-color);
}

h1, h2, h3 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style-type: none;
}

/* Pages */
.App, .home-page, .details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}