/* note: all general elements and pages classes and properties are declared in the App.css file */

:root {
  /* Fonts */
  font-family: 'Roboto', sans-serif;

  /* Colors */
  --primer-color: rgb(0, 170, 170);
}

body {
  font-family: 'Roboto', sans-serif;
}